{% extends "base.html" %}
{% block body %}
<div class = 'd-flex justify-content-between'>
<h1 class='col-3'>Список заказов</h1>
<form class='col-6 d-flex justify-content-between' method=GET>
  <div class="form-group">
    <label for="inputDate">С</label>
    <input type="date" class="form-control" name='date_min'/>
  </div>
  <div class="form-group">
    <label for="inputDate">До</label>
    <input type="date" class="form-control" name='date_max'/>
  </div>
  <div class='col-4'>
  <button class='btn btn-primary' type='submit'> показать</button>
  </div>
</form>
  <div class='col-2'>
<a href='/create' role="button" class="btn btn-success">Создать заказ</a>
  </div>
</div>
<table class="table" >
	<thead>
		<tr>
			<td>дата</td>
			<td>номер заказа</td>
			<td>сумма</td>
			<td>заказчик</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
{% for order in object_list %}
    <tr>
	    <td>{{order.date | date}}</td>
	    <td>{{order.number}}</td>
	    <td>{{order.price}}</td>
	    <td>{{order.partner}}</td>
            <td><a href='/update/{{order.id}}'>изменить</a></td>
            <td><a href='/add_prod/{{order.id}}'>добавить товары</a></td>
            <td><a href='/del_ord/{{order.id}}'>удалить</a></td>
    </tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
