{% extends "base.html" %}
{% block body %}
<table class="table table-sm w-50" >
{% for i in object_list %}
<tr>
	<td>{{i.amount}}</td>
	<td>{{i.products}}</td>
	<td>{{i.products.cost}}</td>
	<td><a href='/del_prod/{{i.id}}'>delete</a></td>
</tr>
{% endfor %}
</table>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class = 'btn btn-success' value="Добавить продукт">
</form>
<a href = '{{ordid}}/recomend' class = 'btn btn-secondary'>Рекомендованные товары</a>
<a href = '/update_amount/{{ordid}}' class = 'btn btn-success'>Завершить покупки</a>
{% endblock %}
