{% extends "base.html" %}
{% block body %}
<div class ='container '>
	<h1>{% block title %}Создание заказа{% endblock %}</h1>
<form method="post" class="form-group">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class='btn btn-success' value="Save">
</form>
</div>
{% endblock %}
