{% extends "base.html" %}
{% block body %}
<div class='container'>
<table class = 'table w-50'>
{% for i in object_list %}
<tr>
	<td>{{i.name}}</td>
	<td>{{i.cost}}</td>
</tr>
{% endfor %}
</table>
<a href={{request.META.HTTP_REFERER}} class='btn btn-success'>назад</a>
</div>
{% endblock %}
